<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый склад</title>
</head>
<body>

<h1>Добавить склад</h1>

<form method="post" action="/warehouses" th:object="${warehouseForm}">
    <div>
        <label>Название</label>
        <input type="text" th:field="*{name}">
    </div>

    <div>
        <label>Адрес</label>
        <input type="text" th:field="*{address}">
    </div>

    <button type="submit">Сохранить</button>
    <a href="/warehouses">Отмена</a>
</form>

</body>
</html>